player-connection-mode=Listen
player-connection-guid=3238962276
player-connection-debug=0
player-connection-project-name=MultiplayerTest2020
player-connection-ip=192.168.50.92
player-connection-ip=192.168.56.1
player-connection-ip=192.168.94.2
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
